/* ~~~ Required styling. Substitute your preferred colors and length values. ~~~ */

body {
  position: relative;
  --bkgd-featured: #091b3e;
  --fonts: #beecfb;
  --links: #54cdf3;
  --bkgd-sheer: #091b3eCC;
  --checkbox-btn: #3e092a;
  --radio-btn: #29093e;
}
#holograph-menu {
  position: fixed;
  bottom: 1rem;  
  right: 1rem;  
  z-index: 4;
  @media screen and (hover) {
  
        /* ~~~ Important: ~~~ */
        /* ~~~ Un-comment the following line so that the menu is only active on touchscreen devices ~~~ */
  
        /*     display: none; */   
  }
}    

#holograph-icon svg {
  width: 2.2rem;
  height: auto;
  stroke: var(--fonts);   
  border: 3px solid var(--fonts);
}
#holograph-buttons {
  display: none;
  flex-wrap: wrap;
  justify-content: right;
  row-gap: 0.1rem;
  background-color: var(--bkgd-sheer);
}

/* Color-coded button backgrounds for different input types */
.holomenu-btn.checkbox-color {background-color: var(--checkbox-btn);}
.holomenu-btn.radio-color {background-color: var(--radio-btn);}
.holomenu-btn.text-color {/* if nothing is specified, this defaults to generic rule for .holomenu-btn */} 
.holomenu-btn.email-color {/* if nothing is specified, this defaults to generic rule for .holomenu-btn */}

/* Color-coded borders for input menu buttons from different fieldsets */
.holomenu-btn.default-border {/* for fieldsets without a name attribute, buttons are given this class name */}
    /* if no border color is specified, buttons default to the generic rule for .holomenu-btn */

.holomenu-btn {
  padding: 0.2rem 0.5rem;
  max-height: min-content;
  font-size: 1rem;
  border-width: 2px;
  border-style: solid;
  border-color: var(--links);
  color: var(--links);
  background-color: var(--bkgd-featured);  
}
#holograph-menu span {  /* (the input menu's "close" button) */
  padding: 0 0.5rem;
  font-size: 2rem;
  line-height: 1.5rem;
  border: 2px solid var(--links);
  color: var(--links);
  background-color: var(--bkgd-featured);  
}
#pointer {
  z-index: 4;
  position: fixed;
  bottom: 4rem;
  right: 1rem;
  transform: rotate(-10deg);
  display: flex;
  gap: 0;
  background-color: var(--bkgd-featured);
  border: 2px solid var(--links);
  p {
    margin: 0;
  }
}
#pointer-text {
  height: min-content;
  padding: 0.5rem;
}
#pointer-symbols {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    line-height: 0.8em;
  }
}
#pointer-dismiss {cursor: pointer;}
.bigger {font-size: 2.5em;}


/* ~~~ Optional styling for the input menu ~~~ */
#holograph-icon svg {
  border-radius: 3px;
  background-color: var(--bkgd-featured);
}
#holograph-buttons {margin-bottom: 0.5rem;}
.holomenu-btn.fieldset-1-border {border-color: var(--fieldset-1-btns);}
.holomenu-btn, #holograph-menu span {border-radius: 0.5rem;}


/* ~~~ For the rest of the page ~~~ */

* {
  margin: 0;
  padding: 0;
}

body {
  --bkgd: #020421;
  --fieldset-1-btns: #ffffff;
  --bkgd-form: #091b3e88;
  --greyed-out: #606060;
  font-family: "Verdana", sans-serif;
  background-color: var(--bkgd);
  color: var(--fonts);
}
.center-text {text-align: center;}
a, legend ~ p span {color: var(--links);}
main {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  @media screen and (min-width: 700px) {
    display: grid;
    grid-template-columns: clamp(15rem, 25vw, 20rem) clamp(24rem, 50vw, 40rem);
    grid-template-rows: 1;
    gap: min(6vw, 6rem);
    width: max-content;
    margin: 0 auto;
  }
}
.main-contents {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bkgd-featured);
  font-size: 0.9rem;
  padding: 1.5rem 1rem;
  @media screen and (min-width: 700px) {
    padding: 3.5rem 0.5rem 1rem 0.5rem;  /* to clear the "back to top" link */
  }
}

/* @media screen and (min-width: 700px) { */
  /* aside section {
    margin-top: 3rem;
  } */
/* } */

ol {
  padding: 0 0 0 1rem;
}
li {
  padding: 0;
}
ol > ol {
  padding: 0 0 0 1rem;
  list-style-type: lower-alpha;
}
ol * {
  margin: 1.2em 0 1.2em 0;
}



#home-link {
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: max-content;
  padding: 0.5rem;
  background-color: var(--bkgd-sheer)
}
#home-link p {margin: 0;}
h1 {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}
h1, h2 {
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
  font-family: "Georgia", serif;
}
h2 {color: var(--links);}
p {
  line-height: 1.3em;
  margin: 1rem 0;
}
.footnote {
  font-style: italic;
}
.asterisk {color: rgb(255, 27, 50);}
form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
fieldset {
  position: relative;
  padding: 0.5rem 3vw;
  @media screen and (hover) {
    padding: 0.5rem 1rem;
  }
}
/* section, .gap-below {margin-bottom: 1.5rem;} */
.gap-below {margin-bottom: 1.5rem;}
.inputText, .labelText {display: block;}
.inputText {
  width: calc(100% - 1rem);
  padding: 0.3rem 0.5rem;
}
input, textarea {
  color: var(--fonts);
  background-color: var(--bkgd-form);
  border: 1px solid var(--fonts);
} 
.side-by-side {
  width: 100%;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 10%;
  row-gap: 1rem;
}
.side-by-side > * {
  width: 100%;
  @media screen and (min-width: 700px) {
    width: 45%;
  }
}
.multi-select > label {display: block;}
.buttonsWrapper button {
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--fonts);
  border: 2px solid var(--fonts);
  background-color: var(--bkgd-featured);  
}
.buttonsWrapper button#clearForm:active {background-color: var(--bkgd);}
.buttonsWrapper button:disabled {color: var(--greyed-out);}
footer {margin: 5rem auto 2rem auto;}