/* ************************ */
/* *** Required styling *** */
/* ************************ */

body {
	position: relative;
	--btn-bkgd-default: #091b3e;
	--menu-bkgd: #091b3eCC;
	--checkbox-btn-bkgd: #3e092a;
	--radio-btn-bkgd: #29093e;
	--btn-text: #54cdf3;
	--icon-stroke: #beecfb;
	--fieldset1-btn-border: #ffffff;  
}
#holograph-menu {
	position: fixed;
	bottom: 1rem;  
	right: 1rem;  
	z-index: 4;
	@media screen and (hover) {  
	/* ~~~ Important: ~~~ */
	/* ~~~ Un-comment the following line so that the menu is only active on touchscreen devices ~~~ */
		/*     display: none; */   
	}
}    
#holograph-icon svg {
	width: 2.2rem;
	height: auto;
	stroke: var(--icon-stroke);   
	border: 3px solid var(--icon-stroke);
}
#holograph-buttons {
	display: none;
	flex-wrap: wrap;
	justify-content: right;
	row-gap: 0.1rem;
	background-color: var(--menu-bkgd);
}

/* Color-coded button backgrounds for different input types */
.holomenu-btn.checkbox-color {background-color: var(--checkbox-btn-bkgd);}
.holomenu-btn.radio-color {background-color: var(--radio-btn-bkgd);}
.holomenu-btn.text-color {/* if nothing is specified, this defaults to generic rule for .holomenu-btn */} 
.holomenu-btn.email-color {/* if nothing is specified, this defaults to generic rule for .holomenu-btn */}

/* Color-coded borders for input menu buttons from different fieldsets */
.holomenu-btn.default-border {/* for fieldsets without a name attribute, buttons are given this class name */}
	/* if no border color is specified, buttons default to the generic rule for .holomenu-btn */

.holomenu-btn {
	padding: 0.2rem 0.5rem;
	max-height: min-content;
	font-size: 1rem;
	border-width: 2px;
	border-style: solid;
	border-color: var(--btn-text);
	color: var(--btn-text);
	background-color: var(--btn-bkgd-default);  
}
#holograph-menu span {  /* (the input menu's "close" button) */
	padding: 0 0.5rem;
	font-size: 2rem;
	line-height: 1.5rem;
	border: 2px solid var(--btn-text);
	color: var(--btn-text);
	background-color: var(--btn-bkgd-default);  
}
#pointer {
	z-index: 4;
	position: fixed;
	bottom: 4rem;
	right: 1rem;
	transform: rotate(-10deg);
	display: flex;
	gap: 0;
	background-color: var(--btn-bkgd-default);
	border: 2px solid var(--btn-text);
	p {
		margin: 0;
	}
}
#pointer-text {
	height: min-content;
	padding: 0.5rem;
}
#pointer-symbols {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	p {
		line-height: 0.8em;
	}
}
#pointer-dismiss {cursor: pointer;}
.bigger {font-size: 2.5em;}


/* *************************************** */
/* *** Optional styling for input menu *** */
/* *************************************** */

#holograph-icon svg {
	border-radius: 3px;
	background-color: var(--btn-bkgd-default);
}
#holograph-buttons {margin-bottom: 0.5rem;}
.holomenu-btn.fieldset-1-border {border-color: var(--fieldset1-btn-border);}
.holomenu-btn, #holograph-menu span {border-radius: 0.5rem;}


/* ******************************** */
/* *** For the rest of the page *** */
/* ******************************** */

* {
	margin: 0;
	padding: 0;
}
body {
	--bkgd: #020421;
	--bkgd-gradient: #051038;
	--bkgd-form: #091b3e88;
	--greyed-out: #606060;
	font-family: "Verdana", sans-serif;
	background-color: var(--bkgd);
	color: var(--icon-stroke);
}
main {
	width: 90vw;
	margin: 0 auto;
	display: flex;
	flex-direction: column-reverse;
	gap: 2rem;
	@media screen and (min-width: 700px) {
		display: grid;
		grid-template-columns: clamp(13rem, 25vw, 22rem) clamp(30rem, 58vw, 46rem);      
		grid-template-rows: 1;
		gap: 0;
		width: max-content;
		margin: 0 auto;
	}
}
h1 {
	margin-top: 3.5rem;   /* to stay away from the "back to top" link */
	margin-bottom: 2rem;
}
h1, h2 {
	max-width: 70vw;
	margin-left: auto;
	margin-right: auto;
	font-family: "Georgia", serif;
}
h2 {color: var(--btn-text);}
aside h2 {margin-bottom: 1rem;}
p {
	line-height: 1.3em;
	margin: 1em 0;
}
.center-text {text-align: center;}
a, .text-featured {color: var(--btn-text);}
.footnote {font-style: italic;}


/* ~~~ Sidebar ~~~ */

#home-link {
	position: fixed;
	top: 1rem;
	left: 1rem;
	width: max-content;
	padding: 0.5rem;
	background-color: var(--menu-bkgd)
}
#home-link p {margin: 0;}

aside {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background: linear-gradient(
		to right,
		var(--btn-bkgd-default),
		var(--bkgd-gradient),
		var(--btn-bkgd-default)
	);
	font-size: 0.9rem;
	padding: 1.5rem 1rem;
	@media screen and (min-width: 700px) {
		padding: 3.5rem 0.5rem 1rem 0.5rem;  /* to clear the "back to top" link */
		margin-left: 1rem;
	}
}
ol {padding: 0 0 0 1rem;}
li {padding: 0;}
ol > ol {
	padding: 0 0 0 1rem;
	list-style-type: lower-alpha;
}
ol * {margin: 1.2em 0 1.2em 0;}


/* ~~~ Main contents ~~~ */

.main-contents-wrapper {
	position: relative;
	z-index: 1;
	background: linear-gradient(
		to right,
		var(--bkgd),
		var(--bkgd-gradient),
		var(--bkgd)
	);
}
.main-contents {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	@media screen and (min-width: 700px) {
		padding: 0 min(6vw, 6rem);
	}
}
.asterisk {color: rgb(255, 27, 50);}


/* ~~~ Forms ~~~ */

form {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
fieldset {
	position: relative;
	padding: 0.5rem 3vw;
	@media screen and (hover) {
		padding: 0.5rem 1rem;
	}
}
legend {padding: 0 0.2rem;}
.gap-below {margin-bottom: 1.5rem;}
.inputText, .labelText {display: block;}
.inputText {
	width: calc(100% - 1rem);
	padding: 0.3rem 0.5rem;
}
input, textarea {
	color: var(--icon-stroke);
	background-color: var(--bkgd);
	border: 1px solid var(--icon-stroke);
} 
.side-by-side {
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 10%;
	row-gap: 1rem;
}
.side-by-side > * {
	width: 100%;
	@media screen and (min-width: 1024px), 
	screen and (min-width: 600px) and (max-width: 699px) {
		width: 45%;
	}
}
.multi-select > label {display: block;}
.buttonsWrapper button {
	padding: 0.5rem;
	font-size: 1rem;
	color: var(--icon-stroke);
	border: 2px solid var(--btn-text);
	background-color: var(--btn-bkgd-default);  
}
.buttonsWrapper button#clearForm:active {background-color: var(--bkgd);}
.buttonsWrapper button:disabled {color: var(--greyed-out);}


/* ~~~ Footer ~~~ */

footer {
	margin: 5rem auto 3rem auto;
	font-size: 0.8em;
}


/* ~~~ Background shapes ~~~ */

.bkgd {
	position: absolute;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 0;
	overflow: hidden;
}
.bkgd-shape {
	height: 3rem;
	width: 8rem;
	position: absolute;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	border: 0.4rem solid var(--btn-bkgd-default);
	opacity: 0.8;
}
#bkgd-shape-1 {
	top: 20vh;
	left: -5vw;  
}
#bkgd-shape-2 {
	top: 10vh;
	right: 0.4vw;  
}
#bkgd-shape-3 {
	bottom: 20vh;
	right: 6rem;  
	animation-delay: -7s;
}
.tilt-left {
	transform: rotate(-10deg);
	animation-name: move-tilt-left;
	animation-duration: 37s;
	@media screen and (min-width: 700px) {
		animation-duration: 47s;
	}
	@media screen and (min-width: 1024px) {
		animation-duration: 67s;
	}
}
.tilt-right {
	transform: rotate(10deg);
	animation-name: move-tilt-right;
	animation-duration: 29s;
	@media screen and (min-width: 700px) {
		animation-duration: 39s;
	}
	@media screen and (min-width: 1024px) {
		animation-duration: 59s;
	}
}
@keyframes move-tilt-left {
	0% {translate: 0 0;}
	40% {translate: 28.6vw -5.2vw;}
	50% {translate: 29.5vw 0vw;}
	90% {translate: 1vw 5.2vw;}
	100% {translate: 0 0;}
}
@keyframes move-tilt-right {
	0% {translate: 0 0;}
	40% {translate: -28.6vw -5.2vw;}
	50% {translate: -29.5vw 0vw;}
	90% {translate: -1vw 5.2vw;}
	100% {translate: 0 0;}
}